<%- include('../includes/head.ejs') %>
    <link rel="stylesheet" href="/css/product.css">
    </head>

    <body>
        <%- include('../includes/navigation.ejs') %>

            <main>
                <div>
                    <div style="display: flex;flex-direction: column;align-items: center;justify-content: center;">
                        <h3>
                            <%= prod.title %>
                        </h3>
                        <div style="display: flex;flex-direction: column;align-items: center;justify-content: center;">
                            <img src="<%= prod.imageUrl %>" height="100px" style="object-fit: cover;width: 100px;"
                                alt="<%= prod.title %>">
                        </div>
                        <div>
                            <h4>
                                <%= prod.price %>
                            </h4>

                        </div>
                        <div>
                            <p>
                                <%= prod.description %>
                            </p>
                        </div>
                        <form action="/add-to-cart" method="POST">
                            <button class="btn">Add to Cart</button>
                            <input type="hidden" value="<%= prod.id %>" name="productId" />
                        </form>

                    </div>
                </div>
            </main>
            <%- include('../includes/end.ejs') %>